* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.a {
    height: 100vh;
}


/* .a nav li a {
    font-size: 15px;
    color: white;
    font-weight: 20px;
} */


/* css for video */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* css for top container  */

.main-image {
    height: 100vh;
    width: 40vw;
    background: url(../Assets/frontme.jpeg) no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    right: 20%;
}

.title {
    position: relative;
    height: 100vh;
    color: white;
    z-index: 3;
}

.info {
    position: absolute;
    top: 50%;
    font-family: 'Zhi Mang Xing', cursive;
}

@media only screen and (max-width: 768px) {
    .main-image {
        position: absolute;
        right: 0;
        height: 100vh;
        width: 80vw;
    }
}

.head-name {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: initial;
}


/* css for second main container */

.second-main-container {
    height: 100vh;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.aboutme {
    padding: 30px;
    position: relative;
    top: 30%;
}

.quote {
    padding: 25px;
    font-size: 40px;
}

.contact {
    padding: 250px;
}

@media only screen and (max-width: 768px) {
    .contact {
        padding: 80px;
    }
    .aboutme {
        padding: 10px;
        position: relative;
        top: 20%;
    }
    .quote {
        padding: 15px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutme {
        padding: 10px;
        position: relative;
        top: 10%;
    }
}


/* css for third container */

.third-container {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: url(../Assets/coverme.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.third-container h1 {
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 4em;
}

.cards {
    height: 550px;
    background-color: #D9BC70;
    padding: 50px;
}

.card-template {
    margin: 80px;
    position: relative;
    top: 35%;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    .cards {
        height: 400px;
        background-color: #D9BC70;
        padding: 25px;
    }
    .card-template {
        margin: 0;
        position: relative;
        top: 45%;
        padding: 15px;
    }
}

.v {
    background: url(../Assets/underconstruction.png) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
}

@media only screen and (max-width: 600px) {
    .cards {
        height: 200px;
        background-color: #D9BC70;
        padding: 15px;
    }
    .card-template {
        margin: 0;
        position: relative;
        top: 10%;
        padding: 15px;
    }
    .third-container h1 {
        position: relative;
        top: 10%;
        text-align: center;
        color: #D9BC70;
        font-family: 'Zhi Mang Xing', cursive;
        font-size: 3em;
    }
}


/* css for fouth container */

.fourth-container {
    height: 70vh;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .fourth-container {
        height: 30vh;
    }
}


/* css for fourth-container */

.fifth-container {}


/* csss for timeline */

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #D9BC70;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #D9BC70;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #D9BC70;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #D9BC70;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

.Education-timeline {
    height: 100vh;
    background-color: white;
}


/* css for footer */

.footer {
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid white;
}

@media only screen and (max-width: 768px) {
    .foot-one {
        display: none;
    }
}

.footer nav li a {
    font-size: 15px;
    padding: 15px;
    color: white;
}