* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.a {
    height: 100vh;
}

.a nav li a {
    font-size: 15px;
    color: white;
    font-weight: 20px;
}


/* css for video */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


/* css for top container  */

.main-image {
    height: 100vh;
    width: 40vw;
    background: url(./received_192980501892955.jpeg) no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    right: 20%;
}

.title {
    position: relative;
    height: 100vh;
    color: white;
    z-index: 3;
}

.info {
    position: absolute;
    top: 50%;
    font-family: 'Zhi Mang Xing', cursive;
}

@media only screen and (max-width: 768px) {
    .main-image {
        position: absolute;
        right: 0;
        height: 100vh;
        width: 80vw;
    }
}

.head-name {
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: initial;
}


/* css for second main container */

.second-main-container {
    height: 100vh;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}

.aboutme {
    padding: 30px;
    position: relative;
    top: 30%;
}

.quote {
    padding: 25px;
    font-size: 40px;
}

.contact {
    padding: 250px;
}

@media only screen and (max-width: 768px) {
    .contact {
        padding: 80px;
    }
    .aboutme {
        padding: 10px;
        position: relative;
        top: 20%;
    }
    .quote {
        padding: 15px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .aboutme {
        padding: 10px;
        position: relative;
        top: 10%;
    }
}


/* css for third container */

.third-container {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: url(./sadasdasd.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.third-container h1 {
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 4em;
}

.cards {
    height: 550px;
    background-color: #D9BC70;
    padding: 50px;
}

.card-template {
    margin: 80px;
    position: relative;
    top: 35%;
    padding: 50px;
}

@media only screen and (max-width: 768px) {
    .cards {
        height: 400px;
        background-color: #D9BC70;
        padding: 25px;
    }
    .card-template {
        margin: 0;
        position: relative;
        top: 45%;
        padding: 15px;
    }
}

.v {
    background: url(./received_192980501892955.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    .cards {
        height: 300px;
        background-color: #D9BC70;
        padding: 25px;
    }
    .card-template {
        margin: 0;
        position: relative;
        top: 20%;
        padding: 15px;
    }
    .third-container h1 {
        position: relative;
        top: 10%;
        text-align: center;
        color: #D9BC70;
        font-family: 'Zhi Mang Xing', cursive;
        font-size: 3em;
    }
}


/* css for fourth-container */

.fourth-container {
    height: 100vh;
    background-color: white;
}


/* css for footer */

.footer {
    font-family: 'Raleway', sans-serif;
    border-top: 1px solid white;
}

@media only screen and (max-width: 768px) {
    .foot-one {
        display: none;
    }
}

.footer nav li a {
    font-size: 15px;
    padding: 15px;
    color: white;
}